<li>
  <span><i class="icon-minus-sign"></i> Child</span> <a href="#" data-toggle="modal" data-target=".comment_modal">Reply</a>
  <ul>
    <li>
      <span><i class="icon-leaf"></i> Grand Child</span> <a href="#" data-toggle="modal" data-target=".comment_modal">Reply</a>
    </li>
    <li>
      <span><i class="icon-leaf"></i> Grand Child</span> <a href="#" data-toggle="modal" data-target=".comment_modal">Reply</a>
    </li>
  </ul>
</li>